/*styles go here*/

html {
    font-size: 100%;
  }

p {
	color: #423000;
	font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

}


#first-paragraph-style {
  color: #423000;
}

#header2 {
  text-align: center;
  color: #423000;
}

#header3 {
  text-align: center;
  color: #423000;
}

#container {
	text-align: center;
	font-family: Georgia, "Times New Roman", sans-serif;

}

#header {
	text-align: center;
	color: #423000;
  background-color: #92853f;
	font-family: cursive;
  font-size: 3rem;
}

#nav {
	list-style-type: none;
	padding: 0;
}

#nav a:link, a:visited {
	display: block;
	color: white;
	background-color: #154314;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
}

#nav a:hover, a:active {
	background-color: goldenrod;
}

.navigation{
  list-style: none;
  color: black;
  margin:0;
  padding: 0;
  display: flex;
  flex-flow:column;
}

.footer{
  text-align: center;
  color: #423000;
  background-color: #92853f;
}

@media (min-width:800px) {
	.navigation {
		flex-flow: row;
		justify-content: flex-end;
	}
	.navigation a{
  border-top:none;
  border-bottom:none;
  }
	.navigation a:hover{
  background:#154314;
  }

  .container {
  flex-flow: row;
}


.aside-1{
  background: gold;
}

.aside-2{
  background: steelblue;
}



  #first-paragraph-style {
    width: 100%;
    grid-area: a;
  }
  .nav {
    grid-area: b;
  }
  #second-paragraph-style  {
    grid-area: c;
  }
  .list {
    grid-area: d;
  }
  }


@media screen and (min-width: 600px) {
#article{
	display: grid;
	grid-template-columns: 200px 1fr 1fr;
	grid-gap: 20px;
    grid-template-areas: 
      "a b b c"
      ". . . e"
      ". d d .";

  }

}

/*@media screen and (min-width: 800px) {


}*/



@media screen and (min-width: 1000px){
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a b b c"
        ". . . e"
        ". . d d";
  }



}
