/*styles go here*/

html {
    font-size: 100%;
  }

p {
	color: black;
	font-family: "Merriweather", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

#first-paragraph-style {
  color: black;
  font-weight: bold;
}

#container {
	text-align: center;
	font-family: Georgia, "Times New Roman", sans-serif;

}

#header h1 {
	text-align: center;
	color: skyblue;
	font-family: "Merriweather Sans", Georgia, "Times New Roman", serif;
  font-size: 3rem;
}

#nav {
	list-style-type: none;
	padding: 0;
}

#nav a:link, a:visited {
	display: block;
	color: white;
	background-color: skyblue;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px;
}

#nav a:hover, a:active {
	background-color: purple;
